data/old/PNSHP_worksite-subtype.csv
data/old/PNSHP_pjt.csv
data/old/PNSHP_missingcheck.R
data/old/PNSHP_clean.csv
data/old/PNSHP_act.csv
data/old/PNSHP_working.csv
data/old/PNSHP_worksite-subtype_20200109.csv
data/old/PNSHP_worksite-subtype_20200113.csv
data/old/PNSHP_wrk.csv
.Rproj.user
.Rhistory
R/.Rproj.user/8C1B0CE1/build_options
R/.Rproj.user/8C1B0CE1/pcs/files-pane.pper
R/.Rproj.user/8C1B0CE1/pcs/source-pane.pper
R/.Rproj.user/8C1B0CE1/pcs/windowlayoutstate.pper
R/.Rproj.user/8C1B0CE1/pcs/workbench-pane.pper
R/.Rproj.user/8C1B0CE1/rmd-outputs
R/.Rproj.user/8C1B0CE1/saved_source_markers
R/.Rproj.user/8C1B0CE1/sources/s-2A316940/4E766147
R/.Rproj.user/8C1B0CE1/sources/s-2A316940/4E766147-contents
R/.Rproj.user/8C1B0CE1/sources/s-2A316940/lock_file
R/.Rproj.user/shared/notebooks/patch-chunk-names
gadm36_USA_1_sp.rds
gadm36_CAN_1_sp.rds
data/PADUS2_0_DOIRegion9_Shapefile.zip
data/PADUS2_0_DOIRegion9_Shapefile/Access.cpg
data/PADUS2_0_DOIRegion9_Shapefile/Access.dbf
data/PADUS2_0_DOIRegion9_Shapefile/Access.dbf.xml
data/PADUS2_0_DOIRegion9_Shapefile/Agency_Name.cpg
data/PADUS2_0_DOIRegion9_Shapefile/Agency_Name.dbf
data/PADUS2_0_DOIRegion9_Shapefile/Agency_Name.dbf.xml
data/PADUS2_0_DOIRegion9_Shapefile/Agency_Type.cpg
data/PADUS2_0_DOIRegion9_Shapefile/Agency_Type.dbf
data/PADUS2_0_DOIRegion9_Shapefile/Agency_Type.dbf.xml
data/PADUS2_0_DOIRegion9_Shapefile/Category.cpg
data/PADUS2_0_DOIRegion9_Shapefile/Category.dbf
data/PADUS2_0_DOIRegion9_Shapefile/Category.dbf.xml
data/PADUS2_0_DOIRegion9_Shapefile/CENSUS2016StateUSGSAlbers.cpg
data/PADUS2_0_DOIRegion9_Shapefile/CENSUS2016StateUSGSAlbers.dbf
data/PADUS2_0_DOIRegion9_Shapefile/CENSUS2016StateUSGSAlbers.prj
data/PADUS2_0_DOIRegion9_Shapefile/CENSUS2016StateUSGSAlbers.sbn
data/PADUS2_0_DOIRegion9_Shapefile/CENSUS2016StateUSGSAlbers.sbx
data/PADUS2_0_DOIRegion9_Shapefile/CENSUS2016StateUSGSAlbers.shp
data/PADUS2_0_DOIRegion9_Shapefile/CENSUS2016StateUSGSAlbers.shp.xml
data/PADUS2_0_DOIRegion9_Shapefile/CENSUS2016StateUSGSAlbers.shx
data/PADUS2_0_DOIRegion9_Shapefile/CENSUSStatesBndryLyr.lyr
data/PADUS2_0_DOIRegion9_Shapefile/Des_Tp.cpg
data/PADUS2_0_DOIRegion9_Shapefile/Des_Tp.dbf
data/PADUS2_0_DOIRegion9_Shapefile/Des_Tp.dbf.xml
data/PADUS2_0_DOIRegion9_Shapefile/DOI_12_Unified_Regions_20180801_USGS_Albers.cpg
data/PADUS2_0_DOIRegion9_Shapefile/DOI_12_Unified_Regions_20180801_USGS_Albers.dbf
data/PADUS2_0_DOIRegion9_Shapefile/DOI_12_Unified_Regions_20180801_USGS_Albers.prj
data/PADUS2_0_DOIRegion9_Shapefile/DOI_12_Unified_Regions_20180801_USGS_Albers.sbn
data/PADUS2_0_DOIRegion9_Shapefile/DOI_12_Unified_Regions_20180801_USGS_Albers.sbx
data/PADUS2_0_DOIRegion9_Shapefile/DOI_12_Unified_Regions_20180801_USGS_Albers.shp
data/PADUS2_0_DOIRegion9_Shapefile/DOI_12_Unified_Regions_20180801_USGS_Albers.shp.xml
data/PADUS2_0_DOIRegion9_Shapefile/DOI_12_Unified_Regions_20180801_USGS_Albers.shx
data/PADUS2_0_DOIRegion9_Shapefile/DOI_12_Unified_Regions_20180801_USGS_AlbersLyr.lyr
data/PADUS2_0_DOIRegion9_Shapefile/GAP_Sts.cpg
data/PADUS2_0_DOIRegion9_Shapefile/GAP_Sts.dbf
data/PADUS2_0_DOIRegion9_Shapefile/GAP_Sts.dbf.xml
data/PADUS2_0_DOIRegion9_Shapefile/IUCN_Cat.cpg
data/PADUS2_0_DOIRegion9_Shapefile/IUCN_Cat.dbf
data/PADUS2_0_DOIRegion9_Shapefile/IUCN_Cat.dbf.xml
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2-0AllFeeManagersLYR.lyr
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2-0DepartmentofDefenseLYR.lyr
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2-0FederalFeeAuthoritativeLYR.lyr
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2-0FederalManagementAgeciesLYR.lyr
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2-0ManagerNameLYR.lyr
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2-0ManagerTypeLYR.lyr
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2-0ProclamationLYR.lyr
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2-0ProtectedAreasByManagerLYR.lyr
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2-0ProtectionMechanismCategoryLYR.lyr
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2-0ProtectionStatusByGAPStatusCode.lyr
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2-0PublicAccessLYR.lyr
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0 Layer Files Description.pdf
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0_Metadata_xml_FGDC.faq.html
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0_Metadata_xml_FGDC.html
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0_Metadata_xml_FGDC.txt
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0_Metadata_xml_FGDC.xml
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Combined_DOD_Fee_Designation_Easement_DOIRegion9.cpg
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Combined_DOD_Fee_Designation_Easement_DOIRegion9.dbf
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Combined_DOD_Fee_Designation_Easement_DOIRegion9.prj
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Combined_DOD_Fee_Designation_Easement_DOIRegion9.sbn
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Combined_DOD_Fee_Designation_Easement_DOIRegion9.sbx
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Combined_DOD_Fee_Designation_Easement_DOIRegion9.shp
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Combined_DOD_Fee_Designation_Easement_DOIRegion9.shp.xml
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Combined_DOD_Fee_Designation_Easement_DOIRegion9.shx
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Designation_DOIRegion9.cpg
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Designation_DOIRegion9.dbf
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Designation_DOIRegion9.prj
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Designation_DOIRegion9.sbn
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Designation_DOIRegion9.sbx
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Designation_DOIRegion9.shp
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Designation_DOIRegion9.shp.xml
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Designation_DOIRegion9.shx
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Easement_DOIRegion9.cpg
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Easement_DOIRegion9.dbf
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Easement_DOIRegion9.prj
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Easement_DOIRegion9.sbn
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Easement_DOIRegion9.sbx
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Easement_DOIRegion9.shp
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Easement_DOIRegion9.shp.xml
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Easement_DOIRegion9.shx
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Fee_DOIRegion9.cpg
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Fee_DOIRegion9.dbf
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Fee_DOIRegion9.prj
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Fee_DOIRegion9.sbn
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Fee_DOIRegion9.sbx
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Fee_DOIRegion9.shp
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Fee_DOIRegion9.shp.xml
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Fee_DOIRegion9.shx
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0LayerFilesArcMap10_X.mxd
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Marine.cpg
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Marine.dbf
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Marine.prj
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Marine.sbn
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Marine.sbx
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Marine.shp
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Marine.shp.xml
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Marine.shx
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Proclamation_DOIRegion9.cpg
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Proclamation_DOIRegion9.dbf
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Proclamation_DOIRegion9.prj
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Proclamation_DOIRegion9.sbn
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Proclamation_DOIRegion9.sbx
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Proclamation_DOIRegion9.shp
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Proclamation_DOIRegion9.shp.xml
data/PADUS2_0_DOIRegion9_Shapefile/PADUS2_0Proclamation_DOIRegion9.shx
data/PADUS2_0_DOIRegion9_Shapefile/State_Nm.cpg
data/PADUS2_0_DOIRegion9_Shapefile/State_Nm.dbf
data/PADUS2_0_DOIRegion9_Shapefile/State_Nm.dbf.xml
data/PADUS2_0_DOIRegion9_Shapefile/Supplemental_Info_Readme.txt
data/NHDPLUS_H_0101_HU4_GDB.zip
