# Lines starting with hash (#) are comments and ignored.
# Adding / on the end ignores entire directory paths.
# Blank lines are ignored, so you can use them to add space and make your file easier to read.
# An asterisk (*) means any number of characters (zero or more).
# A question mark (?) replaces zero or one character.
# The / character means that the rule applies only to files and folders located in the same folder.

.Rproj.user
.Rhistory
# data
data/cb_2018_us_county_500k/
data/culv_inventories/
data/NHDPlusHR/
data/NHDPlusNationalData/
data/NHDPlusSuppData/
data/old/
data/PADUS2_0_DOIRegion9_Shapefile/
data/tl_2019_us_uac10/
data/WBD_17_HU2_Shape/
data/WSDOT_-_Fish_Passage_US_v._WA_Case_Area_Boundary-shp/

data/cb_2018_us_county_500k.zip
data/NHDPlusV21_NationalData_Seamless_Geodatabase_Lower48_07.7z
data/PADUS2_0_DOIRegion9_Shapefile.zip
data/tl_2019_us_uac10.zip
data/WBD_17_HU2_Shape.zip

# R
R/.Rproj.user/

# output
output/gadm36_USA_1_sp.rds
output/gadm36_CAN_1_sp.rds

output/
!output/README.md
!output/info/
!output/figs/
!output/maps/